.classeTexto1 {position: absolute; margin-left: 150px; margin-top: 150px}
.classeTexto2 {position: absolute; margin-left: 500px; margin-top: 150px}	
.classeTexto3 {position: absolute; margin-left: 850px; margin-top: 150px}
.classeTexto4 {position: absolute; margin-left: 300px; margin-top: 450px; width: 700px; height: 250px; font-size: 25p}
.classeTexto5 {position: absolute; margin-left: 10px; margin-top: 10px}
.classeTexto6 {position: absolute; margin-left: 450px; margin-top: 10px; font-size: 27px}
